<header class="header" id="header" >
    <div class="container2 logo-nav-container">
        <div class="icon-busq">
            <a href="#"  class="logo"><img src="/images/logos/corona.jpg" alt=""></a>
           <div>
            <input style="color: aliceblue;" class="inputBuscar" type="text" placeholder="Buscar">
           </div>

            <a href="#" class="link-carrito">
                <i class="fas fa-shopping-cart"></i>
            </a>
        
        
        </div>
        <div id="menu--navegacion" class="navegacion">
            <section id="carritoAparecer" class="divCarritoXD">
                <a href="/carrito" class="link-carrito">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </section>
        <span class="menu-icon"><a href="#"><p class="palabraMenu"><i class="fas fa-home"></i>Menu</p><i class=" fas fa-bars"></i></a></span>
        
            <ul class="menuNavegacion">
                <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/productos"><i class="fas fa-shopping-bag"></i> Productos</a></li>
                <li><a href="/contacto"><i class="fas fa-phone-square-alt"></i> Contacto</a></li>
                <li><a href="/comoComprar"><i class="fas fa-cart-plus"></i> Como comprar</a></li>
                <li><a href="/users/registro"><i class="fab fa-creative-commons-by"></i> Crear Cuenta</a></li>
                <li><a href="/users/login"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
            </ul>
        </div>

    </div>

</header>
<header class="header-compu" id="heade">
<div class="menuSuperior">
    <div class="logo-nombre">
        <img src="/images/logos/corona.jpg" alt="">
        <h6>NachoStore</h6>
    </div>
    <div class="caja-input">
        <input type="text" placeholder="Buscar">
    </div>
    <div class="menuSuperiorDerecho">
        <a href="/users/registro">Crear Cuenta</a>
        <a href="/users/login">Iniciar Sesion</a>
</div>
</div class="navegacionMenuInferior">
     <ul class="listaNavegacion">
        <a href="/"><li>Inicio</li></a>
        <a href="/productos"><li>Productos</li></a>
        <a href="/contacto"><li>Contacto</li></a>
        <a href="/comoComprar"><li>Como Comprar</li></a>
         <li class="cajitaDelCarrito"><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
    </ul>
<div>

</div>

</header>