<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Registro</title>
    
        <!-- Iconos -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> 
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">
            
        <!--Materialize-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
        <!-- CSS Estilos de Carrusel -->
        <link rel="stylesheet" href="carrusel.css">
        
        <!-- CSS Estilos -->
        <link rel="stylesheet" href="style.css">
        
        <!--TIPOGRAFIA GOOGLE FONTS--> 
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

        <!--CSS DEL REGISTRO PERRIS-->
        <link rel="stylesheet" href="styleRegistro.css">
    </head>
</head>
<body>
    <header class="header">
        <div class="container2 logo-nav-container">
            <div class="icon-busq">
                <a href="#"  class="logo"><img src="imagenes/corona.jpg" alt=""></a>
               <div>
                <input class="inputBuscar" type="text" placeholder="Buscar">
               </div>

                <a href="#" class="link-carrito">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            
            
            </div>
            <div class="navegacion">
            <span class="menu-icon"><a href="#"><p class="palabraMenu"><i class="fas fa-home"></i>Menu</p><i class=" fas fa-bars"></i></a></span>
            
                <ul class="menuNavegacion">
                    <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="#"><i class="fas fa-shopping-bag"></i> Productos</a></li>
                    <li><a href="#"><i class="fas fa-phone-square-alt"></i> Contacto</a></li>
                    <li><a href="#"><i class="fas fa-cart-plus"></i> Como comprar</a></li>
                    <li><a href="#"><i class="fab fa-creative-commons-by"></i> Crear Cuenta</a></li>
                    <li><a href="#"><i class="fas fa-sign-in-alt"></i> Iniciar sesion</a></li>
                </ul>
            </div>

        </div>

    </header>
    <header class="header-compu">
    <div class="menuSuperior">
        <div class="logo-nombre">
            <img src="imagenes/corona.jpg" alt="">
            <h6>NachoStore</h6>
        </div>
        <div class="caja-input">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="menuSuperiorDerecho">
            <a href="#">Crear Cuenta</a>
            <a href="#">Iniciar Sesion</a>
    </div>
    </div class="navegacionMenuInferior">
         <ul class="listaNavegacion">
             <li><a href="#"></a>Inicio</li>
             <li><a href="#"></a>Productos</li>
             <li><a href="#"></a>Contacto</li>
             <li><a href="#"></a>Como Comprar</li>
             <li class="cajitaDelCarrito"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    <div>
    </div>
    </header>
    <main>
        <div class="logoSuperior">
            <a href="#" class="logo-centro">
                <img src="imagenes/output-onlinepngtools.png" alt="">
                <h1 class="nombrePrincipal">Nacho Store</h1>
            </a>
        </div>
    </main>
    <form action="" method="POST" class="formularioPerris">
        <h1>Crear cuenta</h1>
        <label for="name">Nombre</label>
        <input type="text" placeholder="Nombre" name="nombre">
        <br>
        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email">
        <br>
        <label for="contraseña">Contraseña</label>
        <input type="password" placeholder="Contraseña" name="contraseña">
        <br>
        <label for="confirmarContraseña">Confirmar Contraseña</label>
        <input type="password" placeholder="Confirmar Contraseña" name="confirmarContraseña">
        <br>
        <button type="submit">Crear cuenta</button>
    </form>
    <footer>
        <div class="container">
            <div class="lista">
                <nav class="centrar">
                    <h4>NAVEGACIÓN</h4>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Tabla de talles</a></li>
                        <li><a href="#">Como comprar</a></li>
                    </ul>
                </nav>

                <nav class="medios-pago centrar">
                    <h4>MEDIOS DE PAGO</h4>
                    <a href="#"><img src="imagenes/medios-pago.png" alt=""></a>
                </nav>

                <nav class="contactanos centrar">
                    <h4>CONTACTANOS</h4>
                    <ul>
                        <li><a href="#">0341 4213906 / WhatsApp 3415030029 / Mayoristas 3416884200</a></li>
                        <li><a href="#">timiotul@outlook.com</a></li>
                        <li><a href="#">Calle Falsa 1234</a></li>
                    </ul>
                </nav>
            </div>
            <div class="seguinos">
                <h4>Seguinos</h4>
                <hr class="linea">
                <a href="#"><img src="imagenes/facebook.png" alt=""></a>
                <a href="#"><img src="imagenes/instagram-bosquejado.png" alt=""></a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="scripts.js"></script>
</body>
</html>