<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form action="/users/login" method="POST" class="formularioPerris">
    <label for="email">Email</label>
    <br>
    <input type="email" placeholder="Email" name="email" id="email">
    <br>
    <label for="contrase単a">Contrase単a</label>
    <input type="password" placeholder="Contrase単a" name="contrase単a" id="password">
    <br>
    <label for="recordame">Recordame</label>
    <input type="checkbox">
    <br>
    
        <%if (typeof errores != 'undefined') { %>
            <p style="color: red;">error</p>
            <ul>
                <% for(let i = 0; i < errores.length; i++){ %>
                <li>
                    <%= errores[i].msg
                </li>
                <%}%>
            </ul>
        <%}%>
    
    <button type="submit">Ingresar</button>
</form>
   
</body>
</html>