.formularioPerris{
    padding-top: 10px;
    padding-bottom: 40px;
    height: auto;
    width: 70%;
    margin: auto;
}
.formularioPerris label{
    color: rgb(92, 90, 90);
    font-size: 20px;
   
}
.formularioPerris button{
    margin-top: 20px;
    background-color: rgb(12, 12, 12);
    color: rgb(224, 224, 224);
    border-radius: 10px;
    width: 60%;
    height: 40px;
    border: 0px;

}
.formularioPerris button:hover{
    background-color: rgb(85, 82, 82);
}