<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'Carrito'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="logoSuperior">
            <a href="/" class="logo-centro">
                <img src="/images/logos/corona-recorte.png" alt="">
                <h1 class="nombrePrincipal">Nacho Store</h1>
            </a>
        </div>
        <div class="Compra-finalizada" style="display: flex; align-items: center; justify-content: center; background-color: burlywood;">
            <h1>No hay productos en el carrito!!</h1>
        </div>
    </main>
    <main class="main">
        <div class="cajaContacto">
            <h3>Contacto</h1>
                <h1>@nachostoreLaplata</h1>
                <p> <i class="fas fa-phone-square-alt"></i> 221 6416297 /WhatsApp 1167304630</p>
                <p><i class="fas fa-envelope"></i> nachostore25@gmail.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Buenos Aires - La Plata / calle 8 e/48 y 49 Galeria willians n835 Local 8</p>
        </div>

    </main>
    
    <%- include('../partials/footer') %>

    <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/scripts.js"></script>

    <script src="/javascripts/headroom.min.js"></script>

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/menu.js"></script>
</body>
</html>