<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Como Comprar'}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="logoSuperior">
            <a href="/" class="logo-centro">
                <img src="/images/logos/corona-recorte.png" alt="">
                <h1 class="nombrePrincipal">Nacho Store</h1>
            </a>
        </div>
    </main>
    <div class="main">
        <div class="comoComprar">
            <h3>¿Como comprar?</h3>
            <ol>
                <li>Elige el producto que deseas comprar.</li>
                <li>Selecciona lo que queres y  agregalo al carrito. Hacé click sobre el producto que querés comprar. Seleccioná el color, talle. Presioná el botón "Agregar al Carrito”. Podés agregar más productos a la compra o clickear en el botón del carrito en el sector superior derecho para finalizar tu compra.</li>
                <li>Tu carrito. Una vez en el carrito chequeá que los productos que están son los que elegiste. Ingresa el Codigo Postal y elegi la forma de envio. Luego INICIAR COMPRA</li>
                <li>Completa tus datos Finalmente debés completar los datos que te vamos solicitando para realizar el envio y haz click en CONTINUAR</li>
                <li>Elige el medio de pago.</li>
                <li>Confirmacion de compra puedes revisar toda la información de la compra. Luego haz clic en CONTINUAR</li>
                <li>Ahí serás redirigido a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte. LISTO! AHORA SOLO RESTA ESPERAR A QUE LLEGUE TU PEDIDO.</li>
                <li>Los envios los realizamos por medio de OCA</li>
            </ol>
            <br>
        </div>
    </div>

    <%- include('../partials/footer') %>
    
    <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/scripts.js"></script>

    <script src="/javascripts/headroom.min.js"></script>

    <script src="/javascripts/jquery.min.js"></script>

    <script src="/javascripts/menu.js"></script>
</body>
</html>